body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 40px; /*границы внутри объекта */
  margin: 20px; /* отдалённость от других элементов */
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 80px; /* чем выше значение - тем дальше нижний элемент */
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 30px; /* границы внутри объекта */
  margin-left: auto; /* чем выше значение - тем дальше уходим вправо */
}